*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 overflow-x: hidden;
 max-width: 100%;
}
.sidebar {
  width: 70px;  
  height: 100vh;
  background: white; 
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  /*border-right: 0.1px solid black;*/
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
}
.sidebar .menu {
  margin-top: -28px;
  list-style: none;
  padding: 0;
}
.sidebar .menu li {
  width: 100%;
  margin: 30px 0;
  text-align: center;
}

.sidebar .menu li a {
  display: block;
  padding: 15px;
  color: black; 
  font-size: 20px;
  overflow-y: hidden;
}

.container1{
  margin-left: 100px;
  padding-top: 30px;
  width: 1400px;
  height: 70px;
}

.container1 .Sea
{
 display: flex;
 align-items: center;
 height: 40px;
 padding: 14px;
 width: max-content;
 border-radius: 28px;
 background-color: #f6f6f6;
 overflow: hidden;
}
.container1 .Sea input
{
  font-size: 16px;
  font-family: sans-serif;
  color: #333333;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 1000px;
}

.container1 .Sea .fa-solid
{
  overflow: hidden;
}


.container
{
  width: 1200px;
  padding-left: 20px;
  float: right;
  margin: 10px auto;
  columns: 4;
  column-gap: 10px;
}
.container .box
{
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}
.container .box img
{
 max-width: 100%;
 border-radius: 15px;
}
@media (max-width: 1300px)
{
    .container
    {
      margin: 5px auto;
      float: right;
      padding-left: 0px;
      width: calc(100% - 100px);  
      columns: 3; 
    }
    .container1 .Sea input
    {
      width: 500px;
    }
}
@media (max-width: 768px)
{
  .sidebar 
  {
    width: 60px;
  }
  .container
  {
    width: calc(100% - 70px);
    columns: 2; 
  }
  .container1 
  {
    margin-left: 70px;
  }
  .container1 .Sea input
  {
    width: 350px;
  }
} 
@media (max-width: 480px)
{
    .container
    {
      columns: 2; 
    }
    .container1 .Sea input
    {
      width: 200px;
    }
} 

@media (max-width: 200px)
{
    .container
    {
      columns: 1; 
    }
    .container1 .Sea input
    {
      width: 50px;
    }
}